<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="sessInfo" th:fragment="headers" th:if="${session.sessInfo != null}">
  <!-- 세션 정보 -->
  <span>부서명 : [[${session.sessInfo.selDept}]]</span>
  <span>이메일 : [[${session.sessInfo.email}]]</span>
  <span>비밀번호 : [[${session.sessInfo.passwd}]]</span>
  <a href="/logout">로그아웃</a>
</div>
<div class="sessInfo" th:fragment="headers" th:unless="${session.sessInfo != null}">
  <script>
       location.href = "/login";
  </script>
</div>
</body>
</html>