<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>다중 게시판 만들기</title>
</head>
<body>
<th:block th:if="${session.userid == null}">
    <script>
        alert("로그인 하신 후 사용할 수 있습니다.");
        location.href = "/login";
    </script>
</th:block>

<a href="/config">다중 게시판 목록</a>
<form method="post" action="/create">
    <label>게시판 코드</label>
    <input type="text" name="code" placeholder="숫자 또는 글자만 가능" required /><br />
    <label>게시판 제목</label>
    <input type="text" name="title" placeholder="게시판 제목 입력" required /><br />
    <label>게시판 색상</label>
    <select name="color">
        <option value="red" selected>RED</option>
        <option value="blue">BLUE</option>
    </select><br />
    <input type="submit" value="게시판 만들기">
</form>
</body>
</html>