<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>이미지 업로드 페이지</title>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
</head>
<body>
    <header th:insert="~{fragment/header::headers}"></header>

    <main>
        <h1>이미지 업로드 페이지</h1>
        <a href="/upload">메인 페이지로 이동</a>
        <a href="/list">사원 목록 페이지 이동</a>

        <p></p>
        <!-- 이미지 업로드 폼 -->
        <form id="frm-upload">
            <label>이미지 업로드</label>
            <input type="file" name="uploadFile" required />
            <button type="button" onclick="fileUpload()">이미지 업로드</button>
        </form>
        <p></p>

    </main>
    <footer th:insert="~{fragment/footer::footers}"></footer>

    <script>
        function fileUpload() {

            let frmData = new FormData( $("#frm-upload")[0]);

       <!-- for(별명 of 배열명) {} -->
<!--       for(let data of frmData) {-->
<!--            console.log(data);-->
<!--       }-->

            $.ajax({
                type: "post",
                url: "/upload",
                encType: "multipart/form-data",
                data: frmData,
                processData: false,
                contentType: false,
                cache: false,
                success: function(response) {
                    if(response.msg == "success") {
                    <!-- alert(response.oName + " 파일이 업로드 되었습니다."); -->
                    alert(`${response.oName} (${response.size}kb) 파일이 업로드 되었습니다.`);
                    }
                }
            });
        }
    </script>

</body>
</html>