<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${config.title}]]</title>
</head>
<body>
<h2>[[${config.title}]]</h2>
<a th:href="@{/article/write?(code=${config.code})}">글쓰기</a>

<a th:href="@{/article/list?(code=${config.code})}">목록</a>

<form method="get" action="/article/list">
    <input type="hidden" name="code" th:value="${config.code}">
    <select name="searchType">
        <option value="subject">제목</option>
        <option value="writer">작성자</option>
        <option value="content">내용</option>
    </select>
    <input type="text" name="words" required />
    <input type="submit" value="검색" />
</form>

<table border="1">
    <tr th:style="| background:${config.color} |">
      <td>번호</td>
      <td>게시물 제목</td>
      <td>게시물 작성자</td>
      <td>비고</td>
    </tr>

    <th:block th:if="${art.isEmpty()}">
        <tr>
            <td colspan="4">등록된 게시물이 없습니다.</td>
        </tr>
    </th:block>

    <th:block th:unless="${art.isEmpty()}">

        <tr th:each="art, k: ${art}"> <!-- index 번호 가져오기 -->
            <td>
                [[${ totalCount - (((pagination.page - 1) * pagination.pageCount) + k.index) }]]
            </td>
            <td>
                <a th:href="@{/article/view?(code=${config.code}, id=${art.id})}">
                    <strong>
                        <u>[[${art.subject}]]</u>
                    </strong>
                </a>
            </td>
            <td>[[${art.writer}]]</td>
            <td>
                <button th:onclick="editCheck([[${config.code}]], [[${art.id}]])">수정</button>
                <button th:onclick="delCheck([[${config.code}]], [[${art.id}]])">삭제</button>
            </td>
        </tr>
    </th:block>
</table>

<div>
    <a th:href="@{/article/list?(code=${config.code})}" th:if="${pagination.page <= 1}"></a>
    <a th:href="@{/article/list?(code=${config.code}, page=${pagination.page - 1})}"
       th:unless="${pagination.page <= 1}">이전</a>

    <a th:href="@{/article/list?(code=${config.code}, page=${num})}"
       th:each="num: ${#numbers.sequence(pagination.startPage, pagination.endPage, 1)}">
        [[${num}]]
    </a>

    <a th:href="@{/article/list?(code=${config.code})}" th:if="${pagination.page >= pagination.totalPage}"></a>
    <a th:href="@{/article/list?(code=${config.code}, page=${pagination.page + 1})}"
       th:unless="${pagination.page >= pagination.totalPage}">이후</a>
</div>
<script>

    function editCheck(code, id) {
        location.href = `/article/edit?code=${code}&id=${id}`;
    }

    function delCheck(code, id) {
       if( confirm(`${id}번 게시물을 삭제하시겠습니까?`) ) {
          location.href = `/article/delete?code=${code}&id=${id}`;
        }
    }
</script>
</body>
</html>