<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지 > 사원 관리 페이지</title>
    <link rel="stylesheet" th:href="@{/css/common.css?after}">
    <link rel="stylesheet" th:href="@{/css/admin.css?after}">
    <link rel="stylesheet" th:href="@{/css/employees.css?after}">
    <script th:src="@{/js/jquery.js}"></script>
</head>
<body>
    <div class="container" th:if="${session.emp != null}">
        <header th:insert="~{fragment/header::headers}"></header>
        <main>
            <div class="main-wrap">
                <div class="main-left" th:insert="~{fragment/left::lefts}"></div>
                <div class="main-right">
                    <div class="main-emp">
                        <h2>:: KOREAIT EMPLOYEES LIST</h2>
                        <table>
                            <thead>
                                <tr>
                                    <th>사번</th>
                                    <th>사진</th>
                                    <th>부서/직책/권한</th>
                                    <th>이메일 주소</th>
                                    <th>사원명</th>
                                    <th>등록일</th>
                                    <th>수정일</th>
                                    <th>비고</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="emp : ${emp}">
                                    <td th:text="${emp.korEmpId}"></td>
                                    <td>
                                        <div class="empPhoto" th:if="${emp.korEmpImageName != ''}">
                                            <img th:src="@{../../upload/} + ${emp.korEmpImageName}" alt="">
                                            <div class="photoBtn">
                                            <!-- <button th:onclick="popup([[${emp.korEmpId}]])">IMAGE UPLOAD</button> -->
                                                <button th:onclick="modal([[${emp.korEmpId}]])">IMAGE UPLOAD</button>
                                            </div>
                                        </div>
                                        <div class="empPhoto" th:unless="${emp.korEmpImageName != ''}">
                                            <img th:src= "@{/images/nobody.png}" alt="">
                                            <div class="photoBtn">
                                                <button th:onclick="modal([[${emp.korEmpId}]])">IMAGE UPLOAD</button>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <select id="selDept" disabled>
                                            <option th:each="dept : ${dept}" th:value="${dept.korDeptCode}" th:text="${dept.korDeptName}" th:selected="${emp.korEmpDept} == ${dept.korDeptCode}"></option>
                                        </select>
                                        <select id="selLevel" th:onchange="updateLevel([[${emp.korEmpId}]], this.value)">
                                            <option th:selected="${emp.korEmpLevel} == ${level.korEmpLevelCode}" th:each="level : ${level}" th:value="${level.korEmpLevelCode}" th:text="${level.korEmpLevelName}"></option>
                                        </select>
                                    </td>
                                    <td>
                                        <a href="">
                                            <strong>
                                                <u>[[${emp.korEmpEmail}]]</u>
                                            </strong>
                                        </a>
                                    </td>
                                    <td>[[${emp.korEmpName}]]</td>
                                    <td>[[${#temporals.format(emp.korEmpCreated, 'yyyy. MM. dd')}]]</td>
                                    <td>[[${#temporals.format(emp.korEmpModified, 'yyyy. MM. dd')}]]</td>
                                    <td>
                                        <!-- @PathVariable, @RequestQueryString -->
                                        <!-- 주소가 끝나면 ? 적어줘야 됨 -->
                                        <a th:href="@{/admin/employees/view?(korEmpId=${emp.korEmpId})}">
                                            <button class="btn clr1">
                                                상세보기
                                            </button>
                                        </a>
                                        <a th:href="@{/admin/employees/update?(korEmpId=${emp.korEmpId})}">
                                            <button class="btn clr2">
                                                정보수정
                                            </button>
                                        </a>
                                        <a th:onclick="deleteEmp([[${emp.korEmpId}]])">
                                            <button class="btn clr3" th:disabled="${emp.korEmpLevel eq 7}">
                                                정보삭제
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div>
                            <!--
                            <a th:if="${pagination.page > 1}">이전</a>
                            <a th:href="@{/admin/employees?(page=${i})}" th:each="i: ${#numbers.sequence(pagination.startPage, pagination.endPage, 1)}">
                                <button>[[${i}]]</button>
                            </a>
                             현재페이지(page)가 전체 페이지 번호보다 작을 때만
                            <a th:if="${pagination.page < pagination.totalPage}">다음</a>
                            -->

                            <a th:if="${pagination.page > 1}" th:href="@{/admin/employees?(page=${pagination.page - 1})}">
                                <button>이전</button>
                            </a>
                            <!-- 첫 페이지일 때 -->
                            <a th:unless="${pagination.page > 1}">
                                <button>이전</button>
                            </a>

                            <!-- 1(startPageNumber) ~ 계산된 페이지 번호까지 반복, 1씩 증가 -->
                            <!-- 주소?page=변수 -->
                            <a th:href="@{/admin/employees?(page=${i})}"
                               th:each="i: ${#numbers.sequence(pagination.startPage, pagination.endPage, 1)}">
                                <button>[[${i}]]</button>
                            </a>

                            <a th:href="@{/admin/employees?(page=${pagination.page + 1})}"
                               th:if="${pagination.page < pagination.totalPage}">
                                <button>이후</button>
                            </a>
                            <a th:unless="${pagination.page < pagination.totalPage}">
                                <button>이후</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <!-- IMAGE UPLOAD(MODAL) -->
    <style>
        #modal {
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            background-color: rgba(0, 0, 0, .7);
            display:none;
        }

        .close {
            color:#fff;
            font-size:100px;
            position:absolute;
            top:20px;
            right:20px;
            cursor:pointer;
        }

        .modal-box {
            width: 400px;
            padding: 50px;
            background-color: #fff;
            position: absolute;
            top: 50%;
            left : 50%;
            transform: translate(-50%, -50%);
        }

        #modal button {
            background-color: #0b5ed7;
            border: 0;
            color: #fff;
            padding: 10px 12px;
            text-align: center;
            cursor: pointer;
            margin-top: 10px;
        }
    </style>

    <div id="modal">
        <span class="close" th:onclick="closeModal()">X</span>
        <div class="modal-box">
            <form>
                <input type="file" name="uploadFile" class="uploadFile" /><br />
                <button type="button" id="btn">Image Upload</button>
            </form>
        </div>
    </div>

    <script>
        function modal(korEmpId) {
            document.querySelector("#modal").style.display = "block";
            document.querySelector("#btn").addEventListener("click", function sendImg() {

                let frmData = new FormData();
                frmData.append("uploadFile", $(".uploadFile")[0].files[0]);
                frmData.append("korEmpId", korEmpId);

                $.ajax({
                <!-- 첨부파일은 post -->
                    type: "post",
                    url: "/admin/employees/upload",
                    encType: "multipart/form-data",
                    data: frmData,
                    processData: false,
                    contentType: false,
                    cache: false,
                    success: function(res) {
                        if(res.msg == "success") {
                            alert("이미지가 업로드 되었습니다.");
                            location.reload();
                        }
                    },
                    error: function(err) {
                        console.log(err);
                    }
                });

            });
        }

        function closeModal() {
            document.querySelector("#modal").style.display = "none";
        }
    </script>

    <!-- // IMAGE UPLOAD(MODAL) -->

    <script>
        function deleteEmp(korEmpId) {
            if( confirm("사원정보를 삭제하시겠습니까?\n삭제된 정보는 복원할 수 없습니다.") ) {
                $.ajax({
                    type: "get",
                    url: "/admin/employees/delete",
                    dataType: "json",
                    data: {korEmpId},
                    success: function(res) {
                        if(res.msg == "success") {
                            alert("사원 정보가 삭제 되었습니다.");
                            location.reload();
                        }
                    },
                    error: function(err) {
                        console.log(err);
                    }
                });

            }else {
                return false;
            }
        }

        function popup(korEmpId) {
           <!-- window.open(별도의 띄울 주소, 별명, 띄울 창에 가로크기..); -->
                let url = "/admin/employees/popup";
                let nick = "upload";
                let opt = "width=400, height=300, top=100, left=100, scrollbar=no";

                window.open(url, nick, opt);
        }

        function updateLevel(korEmpId, korEmpLevel) {
            let obj = {
                korEmpId,
                korEmpLevel
            };

            $.ajax({
                    type: "get",
                    url: "/admin/employees/updateLevel",
                    dataType: "json",
                    data: obj,
                    success: function(res) {
                        if(res.msg == "success") {
                            alert("사원 등급이 수정 되었습니다.");
                            location.reload();
                        }
                    },
                    error: function(err) {
                        console.log(err);
                    }
                });
        }

    </script>

    <div th:unless="${session.emp != null}">
        <script>
            location.href = "/main/login";
        </script>

    </div>
</body>
</html>